ohlcv_url = "https://rest.coinapi.io/v1/ohlcv/%s/history"
orderbook_url = "https://rest.coinapi.io/v1/orderbooks/%s/history"
X_CoinAPI_Key = "add_key_here"
output_price_csv = "/path/to/price.csv"
output_orderbook_csv = "/path/to/orderbook.csv"
output_features_csv =  "/path/to/features.csv"
fake_request_data = "/path/to/fake/data.json"
